<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCBFD1AC54C8F2A97AF8DD1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCBFD8269A5254697BBDBFFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCBFDCC60F7D19E58B5C0C86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
